<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.AdminOrganstructMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.pojo.AdminOrganstruct">
        <id column="struct_code" property="structCode" />
        <result column="parent_code" property="parentCode" />
        <result column="struct_name" property="structName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        struct_code, parent_code, struct_name
    </sql>

</mapper>
