<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.BtBsdlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.pojo.BtBsdl">
        <id column="id" property="id" />
        <result column="bz" property="bz" />
        <result column="rl" property="rl" />
        <result column="dl" property="dl" />
        <result column="ygs" property="ygs" />
        <result column="wgs" property="wgs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bz, rl, dl, ygs, wgs
    </sql>

</mapper>
