<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.BtSbdlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.pojo.BtSbdl">
        <id column="id" property="id" />
        <result column="org_no" property="orgNo" />
        <result column="meter_no" property="meterNo" />
        <result column="read_date" property="readDate" />
        <result column="dl" property="dl" />
        <result column="sc_ss" property="scSs" />
        <result column="bc_ss" property="bcSs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_no, meter_no, read_date, dl, sc_ss, bc_ss
    </sql>

</mapper>
