<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.mapper.BtSbglYdsbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.pojo.BtSbglYdsb">
        <id column="id" property="id" />
        <result column="ssdw" property="ssdw" />
        <result column="sbmc" property="sbmc" />
        <result column="sbwz" property="sbwz" />
        <result column="sblx" property="sblx" />
        <result column="sbxh" property="sbxh" />
        <result column="gl" property="gl" />
        <result column="sbsl" property="sbsl" />
        <result column="sbyt" property="sbyt" />
        <result column="sbcj" property="sbcj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ssdw, sbmc, sbwz, sblx, sbxh, gl, sbsl, sbyt, sbcj
    </sql>

</mapper>
