<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lpg.com.mapper.TSysProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lpg.com.pojo.TSysProvince">
        <id column="id" property="id" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="short_name" property="shortName" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="sort" property="sort" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="memo" property="memo" />
        <result column="data_state" property="dataState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, province_code, province_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state
    </sql>

</mapper>
